/** MI HOJA DE ESTILO **/
.bg-blue { background-color: rgb(255, 255, 255)}
.body-white { background-color:rgb(0, 0, 0);}

.h1{text-align: center;
padding: auto;
color: rgb(255, 255, 255);
margin: 30px;
font-size: 3em;}

p{color: rgb(255, 255, 255);
font-size: 1.25em;}

.cortaFloat{
  clear: both;
}

h2{color: rgb(255, 255, 255);
font-size: 1.75em;}

html{
  scroll-behavior: smooth;
}

th{color: rgb(255, 255, 255);
text-align: center;
text-decoration: dotted;}

td{color: rgb(255, 255, 255);
  text-align: center;
text-decoration: dotted;}

a:hover {
  color: rgb(0, 0, 0);
  }

/**** NAV STYLE ****/
#logo {width: 64px;}
nav{
  position: sticky !important;
  top: 0 ;
  z-index: 99;
  font-size: 1.25em;
}

.nav-p{color:rgb(255, 255, 255);}


/*** INTRODUCTION STYLE ***/
#introduction {
  border-bottom: 1px rgb(255, 255, 255) solid;
}
.p-white { color:rgb(255, 255, 255); 
padding:15px;
margin:0;
text-align: justify;}

#masi{width:600px;
position: relative;
display: block;}


/** Grand Prix  STYLE **/
#funcion{
  border-bottom: 1px solid rgb(255, 255, 255);
}

#texto_cambios{
  font-size: 1.75em;
  text-align: justify;
  position: relative;
  margin: auto;
  width: 90%;
  color: rgb(255, 255, 255);
  text-align: center;
}

#funcion-h1{
  padding:15px;
}
.h2-q{ color:white;
font-size: 1.5em;}




/*** SECCION DE EQUIPOS DE F1 ****/
#equipos{
  border-bottom: 1px solid white;
  padding:30px;
}
#equipos-p{color: rgb(255, 255, 255);
  text-shadow: 1px 1px rgb(255, 255, 255);
font-size: 1.25em;
text-align: center;}
a{
  text-decoration: none;
  color: rgb(255, 255, 255);
}

#th-driver{
color:rgb(255, 255, 255);
}
.pilotos{
  width: 30%;
  padding:10px;
}

.haas{
  background-color: rgb(144, 144, 144);
}

.romeo{
  background-color: rgb(176, 1, 0);
}

.ferrari{
  background-color: red;
}

.mercedes{
  background-color: rgb(0, 162, 156);
}

.redbull{
  background-color: rgb(0, 24, 73);
}

.mclaren{
  background-color:rgb(254, 150, 0);
}

.alpine{
  background-color: rgb(0, 114, 187);
}

.tauri{
  background-color: rgb(0, 11, 34);
}

.williams{
  background-color: rgb(0, 161, 225);
}

.aston{
  background-color: rgb(0, 88, 80);
}




/**** DRIVERS STANDING STYLE AND CONSTRUCTORS ******************/
table{
  background-color:rgb(255, 255, 255);
  text-align:center;
}
.th-driver{ color:rgb(255, 255, 255);}

#constructorStanding{ border-bottom: 1px solid white;
}

#driverStanding{ border-bottom: 1px solid white;}

.header_table{font: size 1.75em;
  color: rgb(0, 0, 0);
  text-align:center;
  font-size: 1.5em;
text-decoration: dotted;}





/***** GALLERY STYLE ***/
.h5-optional{color: rgb(255, 255, 255);}




/******* FOOTER STYLE *****/
footer {
  background-color: #fdfdfd;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: rgb(0, 0, 0);
  padding: 1% 6%;
  font-size: 1.2em;
  border-bottom: 5px solid #000000;
  text-align: center;
  justify-content: space-around;
}
footer a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}
footer a:hover {
  color: #000000;
}
footer h1 {
  font-size: 1em;
  text-align: center;
  margin-bottom: -1%;
  padding-bottom: 1%;
}
#starter {
  font-size: 1.5em;
  margin-bottom: 3%;
  border-bottom: 2px solid #000000;
}
.fa {
  color: rgb(0, 0, 0);
  display: inline-block;
  text-decoration: none;
  line-height: 45px;
  letter-spacing: 20px;
}
#hlf {
  display: grid;
  grid-gap: 105px;
  grid-template-columns: auto auto;
  margin-bottom: 2%;
}
#social {
  display: flex;
  flex-wrap: auto;
  justify-content: center;
  font-size: 2em;
}
#rside {
  border-left: 2px solid #000000;
}
#footer #mail {
  font-size: 2em;
}

.redes{
  padding: 15px;
  width:73%;
}


/*********************** MEDIA QUERIES ***************/
@media only screen and (max-width: 300px) {
  #masi{ width: 100%;}
  #tutorial{ width: 100%;}
  #concept2022 {width: 100%;}
  .redes{width: 100%;}
}

@media only screen and (max-width: 600px) {
  #masi{ width: 100%;}
  #tutorial{ width: 100%;}
  #concept2022 {width: 100%;}
  .redes{width: 100%;}
}

@media only screen and (max-width: 1200px) {
  #masi{ width: 100%;}
  #tutorial{ width: 100%;}
  #concept2022 {width: 100%;}
  .redes { width: 100%;}
}

@media only screen and (max-width: 800px) {
  #masi{ width: 100%;}
  #tutorial{ width: 100%;}
  #concept2022 {width: 100%;}
  .redes { width: 100%;}
}